.App{
  margin-left: 10%;
  font-family: sans-serif;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}
.section{
  margin-top: 20px;
  margin-bottom: 20px;
}
.section .title{
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
}

.form-wrapper{
  display: flex;
  flex-direction: row;
}

.form-wrapper input{
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(196, 196, 196);
}
.form-wrapper input:focus{
box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.31);
border:none;
-webkit-appearance: none;
appearance: none;

}

.form-wrapper button{
  border:none;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(35, 178, 255);
  color: white;
  margin-left: 10px;
}
.form-wrapper button:hover{
  background: rgb(255, 48, 48);
  color: white;
}

.list-number{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-number .item{
  min-width: 200px;
  height: 40px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  background: rgb(37, 118, 240);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 5px;
  color: white;
  font-size: small;
  padding-right: 2px;
  padding-left: 2px;

}